
@{
    ViewBag.Title = "About the Author";
}


<table>
    <tr>
        <td align="center">
            <h2>About the Author</h2>
            <br><img src="~/Content/Images/AuthorPic_Small.jpg" width="500">
        </td>
    </tr>
    <tr>
        <td>
            Anthony’s life path has included experience as a Mechanical Engineer, Naval Aviator, Research Scientist, Software Engineer, Youth Pastor, Pastor, Ministry
            Founder, international speaker, Owner of two small IS consulting businesses and father of four beautiful children.
            <br><br>
            After being raised in a secular household, Anthony was deeply changed by an encounter with the presence of the risen Christ early
            in his college years and he became a lifelong student of the Bible. After theories and pseudo-facts were presented during his engineering
            education that came into direct conflict with the science and history presented in scripture, Anthony embarked on a several decade
            long quest to find the lines between the facts and the fiction. Over his lifetime, this quest has deepened his love for both science
            and the bible. This journey left him with a deep knowledge of both that makes him a uniquely qualified author and speaker on the subject
            of the harmony of faith and science for students and lay audiences.
            <br><br>
            Anthony’s ‘Science and the Bible’ presentations have been very well received by high school, college and post-graduate students.
            His presentations have been called life changing, fascinating, challenging and captivating and his speaking style is fast paced,
            relevant and exciting.
            <br><br>
            Anthony currently lives in Columbus Ohio with Kimberly, his wife of twenty years and four children ages four to nineteen.
        </td>
    </tr>
</table>

