@*@foreach (var item in @ViewData)
{
    <span><b>@item.Key</b></span><br>;
    <span>@item.Value</span><br><br>;
}*@

@model MVC.GSWeb.Models.OpenItemNumber

@{
    ViewBag.Title = "Download Ebook";
}

@if (@Model == null || @Model.Completed == null)
{
        <h3>We're sorry, there seems to be a problem with your order. </h3>
        <span>For help, please send us a message using the Support link and we will get back to you right away to clear this up.</span>
}
else
{

    <h4>Thank you for your purchase. Please click the button below to download the @ViewBag.Type.</h4>

    <hr>
    <h4>Terms of Use Reminder</h4>
        <span>GoodScience-BadScience digital products are protected under United States copyright laws. Your purchase entitles you to the 
        personal use of GoodScience-BadScience digital products only. Unathorized copying or distribution
        of these products in digital or other form without written permission from the author is scrictly prohibited 
        and is punishable under federal law.</span>
    <hr>

    <div>
        @switch ((String)ViewBag.Type)
        {
            case "PDF":
                <form method="get" id="frmPDF" action="~/Content/Downloads/GoodScience-BadScience.pdf">
                    <button type="submit">Download PDF</button>
                </form>
                break;
            case "Ebook":
            <form method="get" id="frmPDF" action="~/Content/Downloads/GoodScience-BadScience.epub">
                <button type="submit">Download E-book</button>
            </form>
                break;
        }
    </div>
    }
