
@{
    ViewBag.Title = "Thank You!";
}

<h2>Thank you for your order!</h2>

You will be receiving an invoice within 24 hours that you can pay on-line to ensure that your order is shipped right away.
<br><br>If you do not receive an invoice, or to check on the status of an order please send an email to:
<br><img src="~/Content/Images/ordersat.png" height="17">
