
@{
    ViewBag.Title = "PreviewBook";
}

<h2>Preview <i>Seven Science Questions</i></h2>

<table>
    <tr>
        <td style="white-space:nowrap">
            <b>49 critical questions this book answers: </b>&nbsp;<img style="cursor:pointer" id="qImg" src="~/Content/Images/menu.png" height="20" title="more" />
        </td>
        <td>
            <div id="qDiv" style="display:none;overflow-y:scroll; height:200px;">
                <ul>
                    <li class="liBold">Are science and faith mutually exclusive opposites?</li>
                    <li class="liBold">Does faith in God really cause brain damage and hinder the advancement of scientific thinking?</li>
                    <li class="liBold">What do the leading scientists of history say about the compatibility of faith and science?</li>
                    <li class="liBold">Does the study of science lead to atheism? Are there any examples of contemporary scientists that are not atheists?</li>
                    <li class="liBold">Do any of today’s leading scientists believe that the earth was created in just six days or as recently as 6,000 years ago?</li>
                    <li class="liBold">Is it feasible that life could have spontaneously generated from non-life?</li>
                    <li class="liBold">What would have been the temperature of the earth when life was supposed to have formed by a chemical accident?</li>
                    <li class="liBold">Is faith in God a simplistic, unintelligent world view?</li>
                    <li class="liBold">Are scientists in today’s academia free to hold any world view without repercussion?</li>
                    <li class="liBold">What is the difference between micro evolution and macro evolution? Are they both based on good science?</li>
                    <li class="liBold">Should Darwinian evolution (macro evolution) be presented as fact?</li>
                    <li class="liBold">Were there non-scientific influences that lead Darwin to favor a godless world view?</li>
                    <li class="liBold">Did Darwin have an accurate understanding of the complexity of the cell?</li>
                    <li class="liBold">How did Darwin address the lack of transitional forms in the fossil record?</li>
                    <li class="liBold">What is the “kind barrier”? Is it possible for one kind of animal to morph into another, more advanced kind? Has this ever been observed to occur?</li>
                    <li class="liBold">Are mutation and natural selection capable of producing the information needed for the complex new physiological systems required to cross the “kind barrier”?</li>
                    <li class="liBold">Is there evidence linking an evolutionary world view to personal behavior patterns such as suicide and school violence?</li>
                    <li class="liBold">Was Hitler’s fascism linked to Darwin’s macro evolutionary ideology?</li>
                    <li class="liBold">What are the origins of today’s beliefs around abortion? Euthanasia? Racism?</li>
                    <li class="liBold">Can the Big Bang theory really account for the origin of the universe?</li>
                    <li class="liBold">How many of the fundamental scientific principles and entities supporting theBig Bang theory actual and how many are theoretical?</li>
                    <li class="liBold">Are there real, scientific roadblocks to acceptance of the Big Bang as fact?Are today’s scientists trending toward or away from the Big Bang?</li>
                    <li class="liBold">Have scientists been able to reproduce the combining of the required elements to create life from non-life in the laboratory?</li>
                    <li class="liBold">Is it mathematically feasible for life to have occurred through random chance combinations of chemicals?</li>
                    <li class="liBold">Why do otherwise credible biologists believe extra-terrestrials visiting from space seeded the intelligence required to create life on earth? If that did occur, would that have solved the ‘origin of life’ mystery?</li>
                    <li class="liBold">Is man’s overuse of fluorocarbons causing the demise of planet earth?</li>
                    <li class="liBold">Where did the global warming scare come from? Have there also been global cooling worries in recent history?</li>
                    <li class="liBold">Can computer models accurately predict future global warming based on an increase in anthropogenic (human caused) CO<sup>2</sup>&nbsp;emissions?</li>
                    <li class="liBold">Are there non-scientific factors that would motivate environmental scientists to be biased toward climate change alarmism?</li>
                    <li class="liBold">Has science proven that rising carbon levels are bad for the planet?</li>
                    <li class="liBold">Are the earth’s leading carbon emitting nations on board with controlling greenhouse emissions?</li>
                    <li class="liBold">Can U.S. regulation of greenhouse gasses affect the world without the cooperation of leading industrial nations?</li>
                    <li class="liBold">How old is the earth really?</li>
                    <li class="liBold">Where did the mainstream estimates of the earth’s age (e.g., 4.6 billion years ) come from and how much solid science are they based on?</li>
                    <li class="liBold">Has mankind always believed in an old earth? What has been the understanding of the age of the earth in recent history?</li>
                    <li class="liBold">Did the dinosaurs really suffer extinction 65 million years ago?</li>
                    <li class="liBold">What credible historical and scientific evidence is there for the existence of dinosaurs on earth as late as the 17<sup>th</sup> century?</li>
                    <li class="liBold">Can fossils be formed by slow, gradual burial?</li>
                    <li class="liBold">What conditions are required to form the fossil record that we observe today, including fine soft-tissue details?</li>
                    <li class="liBold">What assumptions must be made in order to determine a rock’s age using radiometric dating? How accurately can scientists assign values for the unknowns required to ‘do the math’?</li>
                    <li class="liBold">How reliably can rocks be dated using radiometric (radioactive isotope) dating methods?</li>
                    <li class="liBold">Are there any methods available to confirm the accuracy of the ages assigned to radiometric samples?</li>
                    <li class="liBold">Is there credible scientific evidence in support of a much younger age for the earth?</li>
                    <li class="liBold">If they were formed billions of years ago, should the planets and moons of our solar system still have hot cores and be geologically active?</li>
                    <li class="liBold">Does the Bible give a specific age of the earth?</li>
                    <li class="liBold">Is there any recent, credible scientific evidence that dinosaurs continued to exist into modern history?</li>
                    <li class="liBold">Is it scientifically feasible that ancient dinosaurs turned into birds? Why is that an important and hotly debated question?</li>
                    <li class="liBold">Is there any reason to believe that a Darwinist world view could be harmful to society?</li>
                    <li class="liBold">Is there any link between the Darwinist/atheistic world view and suicide or depression?</li>
                </ul>
            </div>
        </td>
        <td width="5%"></td>
    </tr>
</table>

<table>
    <tr>
        <td align="center" width="700">
            You can preview the Table of Contents and the first several pages of Seven Science Questions by using the button below to access
            the book on Amazon
            using the
            <img src="~/Content/Images/LookInside.jpg" width="100">
            feature or by downloading a previewable PDF file to your device.  Please select an option below.
        </td>
    </tr>
    <tr>
        <td align="center" >
            <img src="~/Content/Images/FrontCoverOnly.png" width="250">&nbsp;&nbsp;<img src="~/Content/Images/BackCoverOnly.png" width="250"><br />
            <br><br>
            <button title="Amazon" onclick="window.open('https://www.amazon.com/dp/1540798348/ref=sr_1_1?ie=UTF8&qid=1481167024&sr=8-1&keywords=Seven+Science+Questions+and+Why+They+Matter')">Preview on Amazon.com - 6 pgs</button>
            &nbsp;&nbsp;
            <form method="get" id="frmPDF" action="~/Content/Downloads/Seven Science Questions_Preview.pdf" style="display: inline">
                <button type=" submit" title="Browser">
                    Preview in Browser - 30 pgs
                </button>
            </form>
            &nbsp;&nbsp;
            <form method="get" id="frmTOC" action="~/Content/Downloads/SSQ TOC.pdf" style="display: inline">
                <button type="submit" title="Table of Contents">Preview Table of Contents</button>
            </form>
        </td><td></td>
    </tr>
</table>

@section jqPreview {
    <script type="text/javascript">

        $('#qImg').click(function () {
            if ($('#qDiv').css('display') == "none") {
                $('#qDiv').css('display', 'block');
                $('#qImg').attr('title', 'less');
            }
            else {
                $('#qDiv').css('display', 'none');
                $('#qImg').attr('title', 'more');
            }
        });


    </script>
}
